.list-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.list-item div h3{
    padding-bottom: 12px;
}
.list-container{
    margin-bottom: 10px;
}
.list{
    margin-bottom: 30px;
}
.task-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.task-buttons i{
    font-size: 1.3em;
    padding: 3px;
}
.task-buttons i:hover{
    cursor: pointer;
    transition: .5s;
    background-color: #282c34;
    color: white;
}
.tasks-title{
    display: flex;
    justify-content: center;
}