*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
.main-container{
    min-height: 75vh;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none !important;
}